@font-face {
    font-family: "SolaimanLipi";
    /*src: url(file:///android_asset/fonts/SolaimanLipi_22-02-2012.ttf) format("truetype");*/
    src: url('../Fonts/SolaimanLipi_22-02-2012.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

@page {
    size: letter;
    margin: .25in .25in .25in .75in;
}

@media print {
    @page {
        margin: 0 .15in .25in .6in;
    }
}

body {
    font-family: 'Arial Narrow', SolaimanLipi;
    font-size: 11pt;
}

.main {
    width: 7.5in;
    height: 3.0in;
    position: relative;
    color: red;
}


.logo {
    width: .658in;
    height: .4in;
    float: left;
}
